@use '../base/_variables';

.lf-filter-form {
    width: 100% !important;
    .form-group {
        position: relative;
        padding-right: 34px;
        margin: 3px 0;
        .form-control{
            margin-right: 1%;
            width: 49%;
            float: left;
            font-size: _variables.$font-size-2 !important;
            height: 34px !important;
            border-radius: 0 !important;
        }
    }

    .lf-filter-search-group {
        position: relative;
        padding-right: 34px;
        margin: 3px 0;

        .lf-select {
            margin-right: 1%;
            font-size: _variables.$font-size-2 !important;
            height: 34px !important;
            width: 100%;
            flex: 1;
            border-radius: 0 !important;
        }
        .lf-filter-search {
            margin-right: 1%;
            font-size: _variables.$font-size-2 !important;
            height: 34px !important;
            width: 100%;
            flex: 1;
            border-radius: 0 !important;
        }
        .lf-filter-toggler {
            padding: 7px 2px 2px !important;
            width: 34px;
            height: 34px;
            position: absolute;
            top: 0;
            text-align: center;
            border-radius: 0 !important;
            right: -36px !important;
        }
    }
    .lf-select{
        margin-right: 1%;
        width: 49%;
        float: left;
        font-size: _variables.$font-size-2 !important;
        height: 34px !important;
        border-radius: 0 !important;

        &::after {
            right: 8px;
            top:12px;
            font-size: _variables.$font-size-2 !important;
        }
        select {
            font-size: _variables.$font-size-2 !important;
            height: 34px !important;
            padding: 5px 16px 5px 3px;
            border-radius: 0 !important;
        }
    }
    .btn[type=submit] {
        padding: 2px !important;
        width: 34px;
        height: 34px;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
        border-radius: 0 !important;
    }
}
